.App {
  height: 100vh;
  width: 100%;
  margin: 0px;
  background-color: black;
  background-image: url("../../../public/images/winter.png");
  background-size: cover;
  color: white;
  font-size: 20px;
  background-position:  50%;
}

.Timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.Settings {
  margin: 0px;
}