.App {
  text-align: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../../public/images/winter.png");
  background-repeat: repeat-x;
  background-size: contain;
  font-size: 30px;
}